<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="ScenariosSection" type="VissimScenarioRunner.ScenarioConfigurationSection, VissimScenarioRunner" />
  </configSections>

  <ScenariosSection>
    <Scenarios>
      <add Id="3" Name="Avondspits 2030HOM" Folder ="C:\Projecten\Zoetermeer HOM\VISSIM\Zoetermeer Europaweg" NetworkFile="zoetermeer 2015 V1.inpx" LayoutFile="Standaard_Evaluatiegegevens.layx" Starttime="15:30:00" Startdate="19-06-2016"/>
      <add Id="6" Name="Zaterdag 2030HOM" Folder ="C:\Projecten\Zoetermeer HOM\VISSIM\Zoetermeer Europaweg" NetworkFile="zoetermeer 2015 V1.inpx" LayoutFile="Standaard_Evaluatiegegevens.layx" Starttime="13:30:00" Startdate="21-06-2016"/>
    </Scenarios>
  </ScenariosSection>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>